## Mehtod_1: DataFrameSummary

In [42]:
import pandas as pd
import numpy as np
from pandas_summary import DataFrameSummary
import pandas_profiling 
import scipy as scipy
from scipy import stats

In [50]:
data = pd.read_csv('final_coins.csv')
data = data.drop('date', axis = 1)

In [49]:
profile = pandas_profiling.ProfileReport(data, check_correlation = True)
#display(profile)

In [51]:
test = data.copy()
dfs = DataFrameSummary(test)

In [52]:
dfs.columns_stats

                  BTC      LTC     DASH      XLM      XMR      XRP
counts           1514     1514     1514     1514     1514     1514
uniques          1505      920     1179     1331     1428     1444
missing             0        0        0        0        0        0
missing_perc       0%       0%       0%       0%       0%       0%
types         numeric  numeric  numeric  numeric  numeric  numeric

<break>

## Mehtod_2: Extension of describe-function

In [24]:
## Absolute value
#test = data.copy()

## Simple-Returns
test = data.pct_change().dropna()

## Log-Returns
#test = np.log(data/data.shift(1)).dropna()

In [25]:
stats = test.describe()
stats.loc['IQR'] = stats.loc['75%'] - stats.loc['25%']
stats = stats.append(data.reindex(stats.columns, axis=1).agg(['skew', 'mad', 'kurt']))

In [26]:
def describe_extension(df):
    dfs = DataFrameSummary(df)
    dfss = stats
    return pd.concat([dfs.columns_stats.T, 
                      round(dfss.T.astype(float),3),], 
                     axis=1).T

In [27]:
summary = describe_extension(test)
summary = summary.drop('count', axis = 0)
summary = summary.drop('missing', axis = 0)
summary = summary.drop('uniques', axis = 0)
summary = summary.drop('missing_perc', axis = 0)
summary = summary.drop('types', axis = 0)

In [28]:
summary

            BTC     LTC     DASH    XLM     XMR     XRP
counts     1513    1513     1513   1513    1513    1513
mean      0.002   0.004     0.01  0.005   0.006   0.004
std        0.04   0.064    0.169  0.088   0.073   0.084
min      -0.255  -0.439    -0.75 -0.307  -0.278   -0.46
25%      -0.011  -0.018   -0.028 -0.031  -0.029  -0.022
50%       0.002       0        0 -0.004      -0  -0.004
75%       0.017   0.019     0.03  0.029   0.036   0.017
max       0.272   0.736    4.882  1.061   0.794   1.794
IQR       0.028   0.037    0.059   0.06   0.065   0.039
skew      1.473   2.172    2.362  1.975   1.914   3.432
mad     3015.63  42.954  160.978  0.104  68.959   0.249
kurt        1.9   4.877    6.215  4.057   3.344  17.712

In [29]:
summary = summary.T
summary

,counts,mean,std,min,25%,50%,75%,max,IQR,skew,mad,kurt
BTC,1513,0.002,0.04,-0.255,-0.011,0.002,0.017,0.272,0.028,1.473,3015.63,1.9
LTC,1513,0.004,0.064,-0.439,-0.018,0,0.019,0.736,0.037,2.172,42.954,4.877
DASH,1513,0.01,0.169,-0.75,-0.028,0,0.03,4.882,0.059,2.362,160.978,6.215
XLM,1513,0.005,0.088,-0.307,-0.031,-0.004,0.029,1.061,0.06,1.975,0.104,4.057
XMR,1513,0.006,0.073,-0.278,-0.029,-0,0.036,0.794,0.065,1.914,68.959,3.344
XRP,1513,0.004,0.084,-0.46,-0.022,-0.004,0.017,1.794,0.039,3.432,0.249,17.712

In [30]:
summary = summary.rename(columns={'counts': 'Counts', 'mean': 'Mean', 'std': 'StD', 'min': 'Minimum', 'max': 'Maximum', 'skew': 'Skewness', 'mad': 'Mean absolute Deviation', 'kurt': 'Kurtosis'})

In [31]:
summary

,Counts,Mean,StD,Minimum,25%,50%,75%,Maximum,IQR,Skewness,Mean absolute Deviation,Kurtosis
BTC,1513,0.002,0.04,-0.255,-0.011,0.002,0.017,0.272,0.028,1.473,3015.63,1.9
LTC,1513,0.004,0.064,-0.439,-0.018,0,0.019,0.736,0.037,2.172,42.954,4.877
DASH,1513,0.01,0.169,-0.75,-0.028,0,0.03,4.882,0.059,2.362,160.978,6.215
XLM,1513,0.005,0.088,-0.307,-0.031,-0.004,0.029,1.061,0.06,1.975,0.104,4.057
XMR,1513,0.006,0.073,-0.278,-0.029,-0,0.036,0.794,0.065,1.914,68.959,3.344
XRP,1513,0.004,0.084,-0.46,-0.022,-0.004,0.017,1.794,0.039,3.432,0.249,17.712

In [32]:
df = summary.copy()
df = df.reset_index()
df = df.rename (columns = {'index': 'Assets'})

In [33]:
df.head()

,Assets,Counts,Mean,StD,Minimum,25%,50%,75%,Maximum,IQR,Skewness,Mean absolute Deviation,Kurtosis
0,BTC,1513,0.002,0.04,-0.255,-0.011,0.002,0.017,0.272,0.028,1.473,3015.63,1.9
1,LTC,1513,0.004,0.064,-0.439,-0.018,0,0.019,0.736,0.037,2.172,42.954,4.877
2,DASH,1513,0.01,0.169,-0.75,-0.028,0,0.03,4.882,0.059,2.362,160.978,6.215
3,XLM,1513,0.005,0.088,-0.307,-0.031,-0.004,0.029,1.061,0.06,1.975,0.104,4.057
4,XMR,1513,0.006,0.073,-0.278,-0.029,-0,0.036,0.794,0.065,1.914,68.959,3.344

In [40]:
!pip install tabulatehelper
import tabulatehelper as th
#print(th.md_table(df, formats={-1: 'c'}))
print(th.md_table(data.head(), formats={-1: 'c'}))

Requirement already satisfied: tabulatehelper in d:\programme\anaconda\lib\site-packages (0.0.7)
Requirement already satisfied: pandas in d:\programme\anaconda\lib\site-packages (from tabulatehelper) (0.23.4)
Requirement already satisfied: tabulate>=0.8.2 in d:\programme\anaconda\lib\site-packages (from tabulatehelper) (0.8.3)
Requirement already satisfied: python-dateutil>=2.5.0 in d:\programme\anaconda\lib\site-packages (from pandas->tabulatehelper) (2.7.3)
Requirement already satisfied: pytz>=2011k in d:\programme\anaconda\lib\site-packages (from pandas->tabulatehelper) (2018.5)
Requirement already satisfied: numpy>=1.9.0 in d:\programme\anaconda\lib\site-packages (from pandas->tabulatehelper) (1.15.1)
Requirement already satisfied: six>=1.5 in d:\programme\anaconda\lib\site-packages (from python-dateutil>=2.5.0->pandas->tabulatehelper) (1.10.0)
|    BTC |   LTC |   DASH |      XLM |      XMR |      XRP |
|-------:|------:|-------:|---------:|---------:|:--------:|
| 314.89 |  2.69 |   1.6  | 0.005493 | 0.46576  | 0.02439  |
| 315.21 |  2.66 |   1.72 | 0.005481 | 0.459137 | 0.024318 |
| 287.13 |  2.18 |   1.72 | 0.004672 | 0.461172 | 0.022106 |
| 264.72 |  1.95 |   1.72 | 0.004416 | 0.417234 | 0.018928 |
| 274.84 |  2.11 |   1.6  | 0.004947 | 0.421412 | 0.020316 |

You are using pip version 10.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [35]:
decimals = 2
df['Mean'] = df['Mean'].apply(lambda x: round(x, decimals))
df['25%'] = df['25%'].apply(lambda x: round(x, decimals))
df['50%'] = df['50%'].apply(lambda x: round(x, decimals))
df['75%'] = df['75%'].apply(lambda x: round(x, decimals))
df['IQR'] = df['IQR'].apply(lambda x: round(x, decimals))
df['Skewness'] = df['Skewness'].apply(lambda x: round(x, decimals))
df['Mean absolute Deviation'] = df['Mean absolute Deviation'].apply(lambda x: round(x, decimals))
df['Kurtosis'] = df['Kurtosis'].apply(lambda x: round(x, decimals))
df = df.drop('Mean absolute Deviation', axis = 1)

In [37]:
df

,Assets,Counts,Mean,StD,Minimum,25%,50%,75%,Maximum,IQR,Skewness,Kurtosis
0,BTC,1513,0.00,0.04,-0.255,-0.01,0.0,0.02,0.272,0.03,1.47,1.90
1,LTC,1513,0.00,0.064,-0.439,-0.02,0.0,0.02,0.736,0.04,2.17,4.88
2,DASH,1513,0.01,0.169,-0.75,-0.03,0.0,0.03,4.882,0.06,2.36,6.21
3,XLM,1513,0.01,0.088,-0.307,-0.03,-0.0,0.03,1.061,0.06,1.98,4.06
4,XMR,1513,0.01,0.073,-0.278,-0.03,-0.0,0.04,0.794,0.07,1.91,3.34
5,XRP,1513,0.00,0.084,-0.46,-0.02,-0.0,0.02,1.794,0.04,3.43,17.71

## Mehtod_3: Table to Latex in Markdown

In [ ]:
def df_to_markdown(df, float_format='%.2g'):
    """
    Export a pandas.DataFrame to markdown-formatted text.
    DataFrame should not contain any `|` characters.
    """
    from os import linesep
    return linesep.join([
        '|'.join(df.columns),
        '|'.join(4 * '-' for i in df.columns),
        df.to_csv(sep='|', index=False, header=False, float_format=float_format)
    ]).replace('|', ' | ')

In [20]:
print (df_to_markdown(df))

Assets | Counts | Mean | StD | Minimum | 25% | 50% | 75% | Maximum | IQR | Skewness | Kurtosis
---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ----
BTC | 1513 | 0 | 0.04 | -0.255 | -0.01 | 0 | 0.02 | 0.272 | 0.03 | 1.5 | 1.9
LTC | 1513 | 0 | 0.064 | -0.439 | -0.02 | 0 | 0.02 | 0.736 | 0.04 | 2.2 | 4.9
DASH | 1513 | 0.01 | 0.169 | -0.75 | -0.03 | 0 | 0.03 | 4.882 | 0.06 | 2.4 | 6.2
XLM | 1513 | 0.01 | 0.088 | -0.307 | -0.03 | -0 | 0.03 | 1.061 | 0.06 | 2 | 4.1
XMR | 1513 | 0.01 | 0.073 | -0.278 | -0.03 | -0 | 0.04 | 0.794 | 0.07 | 1.9 | 3.3
XRP | 1513 | 0 | 0.084 | -0.46 | -0.02 | -0 | 0.02 | 1.794 | 0.04 | 3.4 | 18

#### Reference
https://github.com/mouradmourafiq/pandas-summary